*{
    margin: 0;
}

section:nth-of-type(1){
    width: 20%;
    height: 260px;
    margin: 25px auto;
    border: 10px solid #1f2630;
    background-color: #1f2630;
    color: #fff;
    border-radius: 20px;
    text-align: 80%;
    background-position: 57%;

}
section:nth-of-type(1) h1{
    margin-top: 41px;

}

section:nth-of-type(1)>input{
    background-color: #fc7613;
    width: 250px;
    border-radius: 50px;
    margin-top: 50px;

}

section:nth-of-type(1){
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px 10px;
    background-image:url(./orang_star-removebg-preview.png);
}
section:nth-of-type(1) p+p{
    letter-spacing: 15px;
    position: relative; top: 10px; left: 10px; margin-left: 10px; margin-right: 10px;
 }
 section:nth-of-type(1) p input{
    border-radius: 10px;
    background-color: rgb(85, 81, 81);
    color: white;
 }

 section:nth-of-type(2){
    width: 30%;
    height: 300px;
    margin: 25px auto;
    border: 10px solid #1f2630;
    background-color:#1f2630;
    color: white;
    border-radius: 20px; 
    text-align: center;
    
 }
 
 section:nth-of-type(2)h1{
    margin-top: 40px;
    background-position: center;
 }
 section:nth-of-type(2) div img{
    border-radius: 100px;
    width: 50px;
 }

/* section:nth-of-type(2){
    background-image: url(./my\ guy.jpg);
    background-repeat: no-repeat;
    background-position: 200px 30px;
    background-size: 60px;
} */


 section:nth-of-type(2) p{
    margin-top: 10px;
 }

 section:nth-of-type(2) input{
    border-radius:20px;
    width:350px;
    background-color: grey;
 }